.heading h1{
    font-style: italic;
    text-align: center;
    color: rgba(64, 139, 126, 0.977);
}
.container{
    display: flex;
    background-color: black;
    height: 40px;
}
nav a{
    padding: 18px;
    color: white;
    flex-basis: 18px;
    text-decoration: none;
    cursor: pointer;
}
nav{
    margin-top: 10px;
}
nav a:hover{
    color:green
} 
*{
    box-sizing: border-box;
}
.main-container::after{
    display:table;
    justify-content: center;
    clear: both ;
}
.container1{
    float: left;
    width: 33.3%;
    height: auto 0;
    padding: 15px;
    text-indent: 30px;
    text-align: justify;
}
.container1 h2{
    font-style: italic;
    color: brown;
}
.container1 img{
    height: 200px;
    width: 400px;
}
footer{
    background-color: rgb(27, 27, 32);
}
.copyright a{
    text-align: center;
    display: table;
    padding: 20px;
    margin-left: 500px;
    text-decoration: none;
    color: white;
}

