.select{
    position: static;
    border: 2px solid black;
}
.relative{
    position: relative;
    border: 2px solid black;
    top: 35px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: -1;
}
.fixed{
    position: fixed;
}